<form class="container-fluid" [formGroup]="form" (ngSubmit)="send()">
  <div class="container">
    <label for="name">Nome</label>
    <input id="name" type="text" formControlName="name" />
    <app-msg *ngIf="error.name" [type]="1" [msg]="error.name"></app-msg>
  </div>

  <div class="container">
    <label>Idade</label>
    <input type="range" min="18" max="130" formControlName="age">
    <strong>{{ form.get('age').value + ' anos' }}</strong>
  </div>

  <div class="container">
    <label for="inputColor">Cor favorita</label>

    <input id="inputColor" list="color" formControlName="color" />
    <datalist id="color">
      <option value="Azul">
      <option value="Laranja">
      <option value="Preto">
    </datalist>
    <app-msg *ngIf="error.color" [type]="1" [msg]="error.color"></app-msg>
  </div>

  <div class="container">
    <label>Doces favoritos</label>
    <app-input-checkbox formControlName="candy"></app-input-checkbox>
    <app-msg *ngIf="error.candy" [type]="1" [msg]="error.candy"></app-msg>
  </div>

  <div class="container">
    <label for="jobs">Jobs</label>
    <textarea id="jobs" rows="4" cols="50" formControlName="jobs"></textarea>
    <app-msg *ngIf="error.jobs" [type]="1" [msg]="error.jobs"></app-msg>
  </div>


  <div class="container">
    <input type="submit" value="enviar" [disabled]="actionSave" />
    <app-msg class="saved" [ngClass]="{ 'successfully' : actionSave === true }" [type]="2"
      [msg]="'Salvado com sucesso!'"></app-msg>
  </div>
</form>
